


/* font-family: 'Monoton', cursive;
font-family: 'Roboto Mono', monospace; */



.container{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    background-color: #7FD8D8;;
    opacity: 1;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-top: 20px;
    word-spacing: 10px;
    font-family: 'Monoton', cursive;
    color: #F860FF;
    font-size: 54px;
  }

.button{
    background: #F860FF;
    padding: 10px 15px;
    color: #2d2c45;
    font-weight: bolder;
    /* text-transform: uppercase; */
    font-size: 18px;
    border-radius: 12.5px;
    box-shadow: 6px 6px 29px -4px #2d2c45;;
    margin-top: 5px;
    text-decoration: none;
    transition: 0.4s;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;

    
}

.button:hover{
    background: #2d2c45;
    color: #F1A331;
}

.popup{
    background: #7FD8D8;
    border-radius: 25px;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* transform: translate(-50%, -50%); */
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    
}

.popup-content{
    height: 200px;
    width: 400px;
    background: #7FD8D8;
    padding: 20px;
    border-radius: 25px;
    position: relative;

}

textarea{
    margin: 20px auto;
    display: block;
    width: 50%;
    height: 50%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #F1A331;
    background: #2d2c45;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    color: #F1A331;
}

textarea::placeholder {
    color: #F1A331;  
  }

/* input.text{
    word-break: break-all;
} */

.close{
    position: absolute;
    top: 8px;
    right: 8px;
    background: #7FD8D8;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}



/* .info{
    background: #F1A331;
    border-radius: 25px;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; */
    /* transform: translate(-50%, -50%); */
    /* display: none; */
    /* justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    opacity: .5;  
} */

.info-content{
    background: #F1A331;
    height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    opacity: .8;  
    top: 80px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.collapse{
    position: absolute;
    top: 8px;
    right: 8px;
    background: #F1A331;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
    opacity: .8;
}

p{
    margin: auto;
    display: block;
    width: 90%;
    height: 70%;
    padding: 8px;
    color: #2d2c45;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 14px;
}
